:root{
    --primary-color: #067F13;
    --secondary-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --gap: 3rem;
    --terciary-color: #02FF00;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body * {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
}   

a{
    text-decoration: none;
}




.main-bg{
    background: url(../img/liquid-cheese.svg) no-repeat center center/cover;
    color: var(--secondary-color);
}

.white-bg{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.section-size{
    min-height: 100vh;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1{
    font-size: 2.3rem;
    color: var(--primary-color);
    transition: all 300ms;

}
.menu h1 a {
    color: inherit;
    text-decoration: none;
}

.menu h1:hover{
    color: var(--terciary-color);
    transition: all 300ms;
}

.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a{
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--terciary-color);
    transition: all 300ms ease-in-out;
}
.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
    transition: all 300ms ease-in-out;
}

.menu-spacing{
    height: 65px;
}