*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: url(../img/liquid-cheese.svg) no-repeat center/cover;
    height: 100vh;
}

body * {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
}   